
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
* {
    box-sizing: border-box;
}
/* SINGLE PLAYER */


@keyframes backorundChangePop{
 0% { background-image:url('img/music-artic (1).gif')}
  100%{background-image:url('img/__-1_1_____.gif')}

}
@keyframes backgroudChangePop5{
  
    0% { background-image:url('img/mw7rZ3.gif')}
    100%{background-image:url('img/__-1_1_____.gif')}
}
@keyframes backgroudChangePop10{
    0%{background-image:url(img/InconsequentialSlushyAlbertosaurus-size_restricted.gif)}
    100%{background-image:url(img/InconsequentialSlushyAlbertosaurus-size_restricted.gif)}
}
@keyframes backgroudChangePop15Plus{
    0% { background-image:url('img/InconsequentialSlushyAlbertosaurus-size_restricted.gif')}
    10%{background-image:url('img/__-1_1_____.gif')}
    30%{ background-image:url('img/music-artic (1).gif')}
    50% { background-image:url('img/mw7rZ3.gif')}
    100% { background-image:url('img/InconsequentialSlushyAlbertosaurus-size_restricted.gif')}
}
@keyframes backgroundChangeRap{
    0%{background-image:url('img/music-artic (1).gif')}
    50%{background-image:url('img/kda-akali.gif')}
    100%{background-image:url('img/music-artic (1).gif')}
}
@keyframes backgroundChangeRap25{
    0%{background-image:url('img/9AHC.gif')}
    50%{background-image:url('img/6o3z.gif')}
    100%{background-image:url('img/9AHC.gif')}
}
@keyframes backgroundChangeRap30{
    0%{background-image:url('img/music-artic (1).gif')}
    10%{background-image:url('img/9AHC.gif')}
    20%{background-image:url('img/kda-akali.gif')}
    30%{background-image:url('img/6o3z.gif')}
    50%{background-image:url('img/__-1_1_____.gif')}
    70%{background-image:url('img/9AHC.gif')}
    100%{background-image:url('img/music-artic (1).gif')}
}
@keyframes backgroundChangeRapAndPop{
    0%{background-image:url('img/music-artic (1).gif')}
    10%{background-image:url(img/InconsequentialSlushyAlbertosaurus-size_restricted.gif)}
    20%{background-image:url('img/kda-akali.gif')}
    30%{background-image:url('img/mw7rZ3.gif')}
    40%{background-image:url('img/__-1_1_____.gif')}
    50%{background-image:url('img/6o3z.gif')}
    70%{background-image:url('img/9AHC.gif')}
    100%{background-image:url('img/music-artic (1).gif')}
}
@keyframes backgroundChangeOld{
    0%{background-image:url('img/200.gif')}
    100%{background-image:url('img/40f0745a3e3c29e071e9bdb72cec8dc5.gif')}
}
@keyframes backgroundChangeOld45{
    50%{background-image:url('img/GcqYGS.gif')}
    100%{background-image:url('img/ozone-dragostea-din-tei.gif')}
}
@keyframes backgroundChangeOld50{
    0%{background-image:url('img/__-1_1_____.gif')}
    10%{background-image:url('img/ozone-dragostea-din-tei.gif')}
    20%{background-image:url('img/200.gif')}
    30%{background-image:url('img/music-artic (1).gif')}
    50%{background-image:url('img/GcqYGS.gif')}
    70%{background-image:url('img/__-1_1_____.gif')}
    80%{background-image:url('img/40f0745a3e3c29e071e9bdb72cec8dc5.gif')}
    100%{background-image:url('img/music-artic (1).gif')}
}
@keyframes backgroundChangeLevel55{
    0%{background-image:url('img/__-1_1_____.gif')}
    10%{background-image:url('img/ozone-dragostea-din-tei.gif')}
    20%{background-image:url('img/mw7rZ3.gif')}
    30%{background-image:url('img/music-artic (1).gif')}
    50%{background-image:url('img/GcqYGS.gif')}
    60%{ background-image:url('img/InconsequentialSlushyAlbertosaurus-size_restricted.gif')}
    70%{background-image:url('img/__-1_1_____.gif')}
    80%{background-image:url('img/40f0745a3e3c29e071e9bdb72cec8dc5.gif')}
    90%{background-image:url(img/InconsequentialSlushyAlbertosaurus-size_restricted.gif)}
    100%{background-image:url('img/music-artic (1).gif')}
}
@keyframes backgroundChangeElectronic60 {
    0%{background-image:url('img/armin-van-buuren-ultra-miami2018.gif')}
    25%{background-image:url('img/__-1_1_____.gif')}
    50%{background-image:url('img/BlondMatureCoqui-size_restricted.gif')}
    100%{background-image:url('img/armin-van-buuren-ultra-miami2018.gif')}
}
@keyframes backgroundChangeElectronic65 {
    0%{background-image:url('img/HIjc.gif')}
    25%{background-image:url('img/__-1_1_____.gif')}
    35%{background-image:url('img/HIjc.gif')}
    50%{background-image:url('img/20d0 (1).gif')}
    100%{background-image:url('img/BlondMatureCoqui-size_restricted.gif')}
}

@keyframes backgroundChangeElectronic70{
    0%{background-image:url('img/HIjc.gif')}
    10%{background-image:url(img/tumblr_mh45hoa4AC1rtutkqo1_500.webp)}
    30%{background-image:url(img/BowedNegativeAddax-size_restricted.gif)}
    40%{background-image:url(img/BlondMatureCoqui-size_restricted.gif)}
    50%{background-image:url('img/HIjc.gif')}
    70%{background-image:url('img/__-1_1_____.gif')}
    90%{background-image:url('img/HIjc.gif')}
    100%{background-image:url(img/BlondMatureCoqui-size_restricted.gif)}
} 
@keyframes backgroundChangeElectronic75{
    0%{background-image:url('img/HIjc.gif')}
    25%{background-image:url('img/__-1_1_____.gif')}
    35%{background-image:url('img/HIjc.gif')}
    50%{background-image:url('img/20d0 (1).gif')}
    60%{background-image:url('img/HIjc.gif')}
    70%{background-image:url(img/tumblr_mh45hoa4AC1rtutkqo1_500.webp)}
    80%{background-image:url(img/BowedNegativeAddax-size_restricted.gif)}
    90%{background-image:url(img/BlondMatureCoqui-size_restricted.gif)}
    92%{background-image:url('img/HIjc.gif')}
    94%{background-image:url('img/__-1_1_____.gif')}
    97%{background-image:url('img/HIjc.gif')}
    100%{background-image:url(img/BlondMatureCoqui-size_restricted.gif)}
} 

@keyframes shadow{
    0%{box-shadow:5px 5px 100px 5px rgb(166, 255, 199)}
    5%{box-shadow:5px 5px 100px 5px rgb(213, 245, 213)}
    10%{box-shadow:5px 5px 100px 5px rgb(255, 102, 0)}
    15%{box-shadow:5px 5px 100px 5px #2a46ff}
    20%{box-shadow:5px 5px 100px 5px #ff2df4}
    25%{box-shadow:5px 5px 100px 5px #ffa9fb}
    30%{box-shadow:5px 5px 100px 5px #c3ff00}
    35%{box-shadow:5px 5px 100px 5px #ff0011}
    40%{box-shadow:5px 5px 100px 5px #ff8b93}
    45%{box-shadow:5px 5px 100px 5px #2aff91}
    50%{box-shadow:5px 5px 100px 5px #ff1047}
    55%{box-shadow:5px 5px 100px 5px #0cbeff}
    60%{box-shadow:5px 5px 100px 5px #cbf9ff}
    65%{box-shadow:5px 5px 100px 5px #5202ff}
    70%{box-shadow:5px 5px 100px 5px rgb(255, 0, 17)}
    75%{box-shadow:5px 5px 100px 5px #ff25c5}
    80%{box-shadow:5px 5px 100px 5px #ff6368}
    85%{box-shadow:5px 5px 100px 5px #03ff57}
    90%{box-shadow:5px 5px 100px 5px #9eff67}
    100%{box-shadow:5px 5px 100px 5px #ff727b}
 } 


body {
    font-family: 'Macondo', cursive;
    background-color: grey;
    background-image:linear-gradient(#92ffe2,#093100) ;
    display:flex;
    flex-direction:column ;
    align-items:center ;
    overflow: hidden;
    justify-content:center ;
    height:100vh ;
    box-sizing: border-box;
    color:rgb(100, 77, 34) ;
    font-size:20px ;
    object-fit: fill;
   



}

.singlePlayer{
    border:3px solid green ;
    background-color:grey ;
    background-image:linear-gradient(75deg, rgba(34,193,195,1) 0%, rgba(9,6,64,1) 100%);
    background-size:100% 100%;
    width:600px ;
    height:500px ;
    border-radius:37% ;
    overflow:hidden ;
    box-shadow:5px 5px 100px 5px rgb(166, 255, 199) ;
    /* animation:shadow 4s infinite ease; */
    box-sizing: border-box;
    
}

#player{
    font-family:inherit ;
    width:110px ;
    margin:30px 130px ;
    background-color:rgb(2, 2, 2) ;
    color:wheat;
}
#player:hover,#level:hover{
    background-color:gray; 

}
#player:focus,#level:focus{
    background-color:rgb(173, 169, 169); 
    color:red ;
}
#level{
    font-family:inherit;
    width:100px ;
    background-color:rgb(8, 8, 8) ;
    color:red;
    /* font-size:15px ; */
    text-decoration:none ;

    
}

.answers{
    color: #cc9a9acd;
    margin-top:59px ;
    margin-left:60px;
    box-sizing:content-box ;
    font-size:27px ;
    color:rgb(255, 165, 165);
    cursor:pointer;
    box-sizing:content-box ;
   
    list-style-position:outside;
    font-weight:900;
    /* font-variant: small-caps; */
    text-transform: capitalize;
    list-style-type:none;
 

    

}
.answerElement{
    list-style-type:none;
    opacity:0.3 ;
}

.score{
    position:absolute ;
    display: inline-block;
    font-family:inherit ;
    border:4px solid gainsboro ;
    width:50px ;
    height:50px ;
    text-align:center ;
    margin-left:279px ;
    margin-top:-500px; 
    font-size:35px ;
    background-color:white ;
    opacity:0.5 ;
    color:black ;
    text-transform:uppercase ;
    

}
.score:hover{
    opacity:1 ;
    cursor: pointer;
}
button{
    box-sizing: content-box;
    width:89% ;
    display:block;
    padding:0.4rem ;
    opacity:0.6 ;
    text-transform:uppercase ;
    text-decoration: solid;
    background-color:black ;
    color:inherit ;
    font-size:18px ;
    margin-top:115px;
    margin-left:-15px ;
    text-decoration:bold;
    cursor: pointer;
    font-weight: bolder;
}
button:hover{
    opacity:0.8 ;

}
button:focus{
    opacity:1 ;
    color:red ;
}
label{
    cursor: pointer;
   
}


.hidden {
    display: none;
}

/*********REsponvise Telefon********/


/*********Nokia Lumia*****/
@media  screen and (width:400px),(height:700px){
    body {
       max-height:667px;
       max-width:375px ;
    }
    .singlePlayer{
       width:100% ;
       border-radius:15% ;
    }
    #player{
       position: relative;
       left:-15vh ;
    }
    .typeM{
       position: relative;
       left:36vh;
       top:-8vh;
    }
    .score{
       margin-left:23.6vh ;
       margin-top:-67vh ;
    }
    .answers{
       font-size:17px ;
       margin-left:2vh ;
    }
    button{
       position: relative;
       top:4vh ;
       left:-5.6vh ;
       width:120% ;
    }
   }
   /*********Nokia Lumia*****/
@media  screen and (width:320px),(height:533px){
   
    /* body {
       max-height:320px;
       max-width:533px ;
    } */
    .singlePlayer{
       width:100% ;
       border-radius:10% ;
    }
    #player{
       position: relative;
       left:-24vh ;
    }
    .typeM{
       position: relative;
       left:37vh;
       top:-10vh;
    }
    .score{
       margin-left:23.6vh ;
       margin-top:-87vh ;
    }
    .answers{
       font-size:16px ;
       margin-left:2vh ;
    }
    button{
       position: relative;
       top:6.5vh ;
       left:-5.6vh ;
       width:120% ;
       font-size:16px ;
    }
   }
    
      /*********Iphone XR*****/
@media  screen and (width:414px),(height:896px){
   
 /* body {
       max-height:915px;
       max-width:420px ;
    } */
    .singlePlayer{
       width:100% ;
       border-radius:20% ;
    }
    #player{
       position: relative;
       left:-12vh ;
       font-size:10px ;
    }
    .typeM{
       position: relative;
       left:30vh;
       top:-6vh;
       font-size:10px ;
    }
    .score{
       margin-left:18.6vh ;
       margin-top:-52vh ;
    }
    .answers{
       font-size:19px ;
       margin-left:2vh ;
    }
    button{
       position: relative;
       top:2vh ;
       left:-5.6vh ;
       width:120% ;
       font-size:16px ;
    }
   }
     /*********Iphone 12PRo*****/
@media  screen and (width:390px),(height:844px){
   
    body {
          max-height:915px;
          max-width:420px ;
       }
       .singlePlayer{
          width:100% ;
          border-radius:20% ;
       }
       #player{
          position: relative;
          left:-12vh ;
          font-size:10px ;
       }
       .typeM{
          position: relative;
          left:30vh;
          top:-6vh;
          font-size:10px ;
       }
       .score{
          margin-left:18.6vh ;
          margin-top:-57vh ;
       }
       .answers{
          font-size:19px ;
          margin-left:2vh ;
       }
       button{
          position: relative;
          top:2vh ;
          left:-5.6vh ;
          width:120% ;
          font-size:16px ;
       }
      }
         /*********NoKIa XS****/
@media  screen and (width:375px),(height:812px){
   
    body {
          max-height:915px;
          max-width:420px ;
       }
       .singlePlayer{
          width:100% ;
          border-radius:20% ;
       }
       #player{
          position: relative;
          left:-12vh ;
          font-size:10px ;
       }
       .typeM{
          position: relative;
          left:29vh;
          top:-6.2vh;
          font-size:10px ;
       }
       .score{
          margin-left:18.6vh ;
          margin-top:-59vh ;
       }
       .answers{
          font-size:19px ;
          margin-left:2vh ;
       }
       button{
          position: relative;
          top:2vh ;
          left:-5.6vh ;
          width:120% ;
          font-size:16px ;
       }
      }
       /*********NoKIa SE****/
       @media  screen and (width:375px),(height:812px){
   
        body {
              max-height:700px;
              /* max-width:700px ; */
           }
           .singlePlayer{
              width:100% ;
              border-radius:1% ;
           }
           #player{
              position: relative;
              left:-20vh ;
              font-size:10px ;
           }
           .typeM{
              position: relative;
              left:38vh;
              top:-7.9vh;
              font-size:8px ;
           }
           .score{
              margin-left:21.8vh ;
              margin-top:-71vh ;
           }
           .answers{
              font-size:18.6px ;
              margin-left:4vh ;
           }
           button{
              position: relative;
              top:3.4vh ;
              left:-5.6vh ;
              width:120% ;
              font-size:16px ;
           }
          }

          /*********Pixel 5****/
       @media  screen and (width:393px),(height:851px){
   
        body {
              max-height:700px;
               max-width:700px 
           }
           .singlePlayer{
              width:100% ;
              border-radius:25% ;
           }
           #player{
              position: relative;
              left:-10vh ;
              /* font-size:10px ; */
           }
           .typeM{
              position: relative;
              /* left:-50vh;
              /* top:-1.9vh; */ 
              left:28vh ;
              font-size:8px ;
              top:-6.2vh;
           }
           .score{
              margin-left:19.8vh ;
              margin-top:-56vh ;
           }
           .answers{
              font-size:19px ;
              margin-left:4vh ;
           }
           button{
              position: relative;
              top:2.4vh ;
              left:-5.6vh ;
              width:120% ;
              font-size:16px ;
           }
          }
          
          /*********Samsung Galaxy 8Plus****/
       @media  screen and (width:360px),(height:740px){
   
        body {
              max-height:700px;
               max-width:700px 
           }
           .singlePlayer{
              width:100% ;
              border-radius:25% ;
           }
           #player{
              position: relative;
              left:-14vh ;
              /* font-size:10px ; */
           }
           .typeM{
              position: relative;
              /* left:-50vh;
              /* top:-1.9vh; */ 
              left:28vh ;
              font-size:8px ;
              top:-7.2vh;
           }
           .score{
              margin-left:19.8vh ;
              margin-top:-64vh ;
           }
           .answers{
              font-size:17.7px ;
              margin-left:4vh ;
           }
           button{
              position: relative;
              top:2.4vh ;
              left:-5.6vh ;
              width:120% ;
              font-size:16px ;
           }
          }
             /*********Samsung Galaxy s20Ultra****/
          @media  screen and (width:412px),(height:915px){
            body {
                max-height:700px;
                 max-width:700px 
             }
             .singlePlayer{
                width:100% ;
                border-radius:25% ;
             }
             #player{
                position: relative;
                left:-10vh ;
                /* font-size:10px ; */
             }
             .typeM{
                position: relative;
                /* left:-50vh;
                /* top:-1.9vh; */ 
                left:27vh ;
                font-size:8px ;
                top:-6.2vh;
             }
             .score{
                margin-left:18.8vh ;
                margin-top:-50vh ;
             }
             .answers{
                font-size:19px ;
                margin-left:4vh ;
             }
             button{
                position: relative;
                top:2.4vh ;
                left:-5.6vh ;
                width:120% ;
                font-size:16px ;
             }
          }
              /*********Ipad Air****/
              @media  screen and (width:820px),(height:1180px){
                body {
                    max-height:1000px;
                     max-width:700px; 
                     margin-left:4vh;
                 }
                 
              }  
                /*********Ipad Mini****/
                @media  screen and (width:912px),(height:1368px){
                    body {
                        max-height:1000px;
                         max-width:700px; 
                         margin-left:7vh;
                         margin-top:-4vh ;
                     }
                     
                  }   
                /*********Galaxy FOld***/
                  @media  screen and (width:280px),(height:721px){
                    body {
                        max-height:700px;
                         max-width:700px 
                     }
                     .singlePlayer{
                        width:100% ;
                        border-radius:5% ;
                     }
                     #player{
                        position: relative;
                        left:-20vh ;
                        /* font-size:10px ; */
                     }
                     .typeM{
                        position: relative;
                        /* left:-50vh;
                        /* top:-1.9vh; */ 
                        left:27vh ;
                        font-size:8px ;
                        top:-8.2vh;
                     }
                     .score{
                        margin-left:16.3vh ;
                        margin-top:-69vh ;
                     }
                     .answers{
                        font-size:14px ;
                        margin-left:4vh ;
                     }
                     button{
                        position: relative;
                        top:2.4vh ;
                        left:-5.6vh ;
                        width:120% ;
                        font-size:16px ;
                     }
                     
                  } 
                  @media  screen and (width:412px),(height:914px){
                    body {
                        max-height:1000px;
                         max-width:500px 
                     }
                     .singlePlayer{
                        width:100% ;
                        border-radius:30% ;
                     }
                     #player{
                        position: relative;
                        left:-8vh ;
                        top:-0.4vh
                        /* font-size:10px ; */
                     }
                     .typeM{
                        position: relative;
                        /* left:-50vh;
                        /* top:-1.9vh; */ 
                        left:26vh ;
                        font-size:8px ;
                        top:-6.6vh;
                     }
                     .score{
                        margin-left:18.8vh ;
                        margin-top:-52vh ;
                     }
                     .answers{
                        font-size:19px ;
                        margin-left:4vh ;
                     }
                     button{
                        position: relative;
                        top:2.4vh ;
                        left:-5.6vh ;
                        width:120% ;
                        font-size:16px ;
                     }
                     
                  } 